#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  matomo-app.service
BindsTo=matomo.service
After=matomo.service matomo-mariadb.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p config
ExecStartPre=/bin/rm -f %t/matomo-app.pid %t/matomo-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStartPost=/usr/bin/bash -c "while ! /usr/bin/podman exec matomo-app /usr/bin/curl  http://127.0.0.1:80/matomo ; do sleep 3 ; done"
ExecStart=/usr/bin/podman run --conmon-pidfile %t/matomo-app.pid \
    --cidfile %t/matomo-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/matomo.pod-id --replace -d --name  matomo-app \
    --env=MATOMO_* \
    --env MATOMO_DATABASE_ADAPTER=mysql \
    --env MATOMO_DATABASE_HOST=127.0.0.1 \
    --env MATOMO_DATABASE_TABLES_PREFIX=matomo \
    --env MATOMO_DATABASE_USERNAME=matomo \
    --env MATOMO_DATABASE_PASSWORD=Matomo,1234 \
    --env MATOMO_DATABASE_DBNAME=matomo \
    --volume matomo-app:/var/www/html/:Z \
    --volume ./config:/tmp:Z \
    --volume configs:/var/www/html/config \
    --volume matomo_logs:/var/www/html/logs \
    --volume matomo_plugins:/var/www/html/plugins \
    ${MATOMO_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/matomo-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP matomo-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/matomo-app.ctr-id
PIDFile=%t/matomo-app.pid
Type=forking

[Install]
WantedBy=default.target